<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>測試表格</title>
    <link rel="stylesheet" href="../static/test_table.css">
</head>

<body>
    <h1>區域長者數據</h1>
    <table border="1">
        <tr>
            <th>區域</th>
            <th>時間</th>
            <th>狀況</th>
        </tr>
        <tr>
            <td>A</td>
            <td>2024-09-25 下午 3:12</td>
            <td>偵測到長者經過 => 燈條亮起</td>
        </tr>
        <tr>
            <td>B</td>
            <td>2024-09-25 下午 4:05</td>
            <td>跌倒</td>
        </tr>
        <tr>
            <td>A</td>
            <td>2024-09-25 下午 5:27</td>
            <td>跌倒</td>
        </tr>
        <tr>
            <td>B</td>
            <td>2024-09-26 上午 9:18</td>
            <td>偵測到長者經過 => 燈條亮起</td>
        </tr>
        <tr>
            <td>A</td>
            <td>2024-09-26 上午 11:43</td>
            <td>跌倒</td>
        </tr>
        <tr>
            <td>B</td>
            <td>2024-09-26 下午 1:56</td>
            <td>偵測到長者經過 => 燈條亮起</td>
        </tr>
        <tr>
            <td>A</td>
            <td>2024-09-26 下午 3:07</td>
            <td>跌倒</td>
        </tr>
        <tr>
            <td>B</td>
            <td>2024-09-26 下午 4:22</td>
            <td>偵測到長者經過 => 燈條亮起</td>
        </tr>
    </table>

</body>

</html>